.details {
  position: relative;
  padding: clamp(52px, 6.51vw, 125px) 0 clamp(58px, 5.99vw, 115px);
  background-color: var(--color-bg);
  z-index: 1;

  &__title {
    margin-bottom: -85px;
    max-width: 560px;

    @media (max-width: 991px) {
      max-width: 100%;
      margin-bottom: 40px;
      text-align: center;
    }
  }

  &__info {
    display: grid;
    grid-template-columns: 360px 1fr 335px;
    grid-gap: clamp(10px, 2.539vw, 26px);

    @media (max-width: 1240px) {
      grid-template-columns: clamp(280px, 29.032vw, 360px) 1fr clamp(240px, 27.016vw, 335px);
    }

    @media (max-width: 991px) {
      grid-template-columns: 100%;
      grid-gap: 49px;
    }
  }

  &__left {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    text-align: right;
    grid-gap: clamp(75px, 6.927vw, 133px);
    padding-bottom: clamp(30px, 4.219vw, 81px);

    @media (max-width: 991px) {
      padding-bottom: 0;
      align-items: flex-start;
      justify-content: flex-start;
      text-align: left;
      grid-gap: 0;
    }
  }

  &__right {
    position: relative;
    display: flex;
    flex-direction: column;
    grid-gap: 241px;

    &::before {
      content: '';
      position: absolute;
      top: 25%;
      left: -20%;
      background-image: var(--details-red);
      background-size: contain;
      background-repeat: no-repeat;
      width: clamp(38px, 3.819vw, 55px);
      height: clamp(27px, 5vw, 72px);
      animation-name: red-details;
      animation-duration: 13s;
      animation-timing-function: linear;
      animation-iteration-count: infinite;

      @media (max-width: 991px) {
        top: 30%;
        left: 10%;
      }

      @media (max-width: 576px) {
        left: 5%;
        top: 33%;
      }
    }

    &::after {
      content: '';
      position: absolute;
      top: 30%;
      left: 0;
      background-image: var(--details-blue);
      background-size: contain;
      background-repeat: no-repeat;
      width: clamp(70px, 8.403vw, 121px);
      height: clamp(51px, 7.431vw, 107px);

      animation-name: blue-details;
      animation-duration: 10s;
      animation-timing-function: linear;
      animation-iteration-count: infinite;

      @media (max-width: 991px) {
        left: 15%;
      }

      @media (max-width: 576px) {
        top: 35%;
      }
    }

    @media (max-width: 1240px) {
      grid-gap: clamp(110px, 16.736vw, 241px);
    }
  }

  &__block-head {
    margin-bottom: 15px;
    font-size: clamp(18px, 1.146vw, 22px);
    line-height: 130%;
    font-weight: 700;
  }

  &__bg {
    @media (max-width: 991px) {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  &__btns {
    position: relative;

    &::after {
      content: '';
      position: absolute;
      top: -7%;
      left: -3%;
      background-image: var(--details-green);
      background-size: contain;
      background-repeat: no-repeat;
      // width: 135px;
      // height: 119px;
      width: clamp(100px, 7.031vw, 135px);
      height: clamp(80px, 6.198vw, 119px);
      animation-name: green-details;
      animation-duration: 7s;
      animation-timing-function: linear;
      animation-iteration-count: infinite;
      z-index: -1;

      @media (max-width: 767px) {
        display: none;
      }
    }

    @media (max-width: 991px) {
      display: none;
    }
  }
}


@keyframes green-details {
  0% {
    transform: translateY(0);
  }

  30% {
    transform: translateY(50px);
  }
}

@keyframes red-details {
  0% {
    transform: translateY(0);
  }

  40% {
    transform: translateY(150px);
  }
}

@media (max-width: 991px) {
  @keyframes red-details {
    0% {
      transform: translateY(0);
    }

    40% {
      transform: translateY(80px);
    }
  }
}

@keyframes blue-details {
  0% {
    transform: translateY(0);
  }

  30% {
    transform: translateY(45px);
  }
}
