.diagnosis {
  margin-bottom: clamp(70px, 7.012vw, 115px);
  display: flex;
  flex-direction: column;
  grid-gap: clamp(20px, 2.439vw, 40px);

  &__wrapp {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__btns {
    display: flex;
    align-items: center;
    grid-gap: 20px;

    @media (max-width: 1140px) {
      display: none;
    }
  }

  &__btn {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-blue-light);
    cursor: pointer;
  }

  &__slider {
    width: 100%;
    height: 100%;
  }

  &__slider-wrapper {
    width: 100%;
  }

  &__slide {
    aspect-ratio: 1 / 1;
  }

  &__pagination {
    margin-top: 30px;
    display: none;

    .swiper-pagination-bullet {
      width: 10px;
      height: 10px;
    }

    @media (max-width: 1140px) {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
