.faq {
  margin-bottom: 93px;

  &__wrapp {
    display: flex;
    flex-direction: column;
    grid-gap: 40px;
  }



  &__questions {
    width: 100%;
  }

  &__questions-item {
    border-top: 1px solid var(--color-blue);
  }

  &__question {
    position: relative;
    width: 100%;
    padding: 30px 0;
    font-size: 24px;
    line-height: 31px;
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.4s ease;

    &::before,
    &::after {
      content: "";
      width: 18px;
      height: 2px;
      background-color: var(--color-black);
      position: absolute;
      right: 20px;
      top: 50%;
      transform: translateY(-50%);
      transition: transform 0.3s ease 0s;
    }

    &::after {
      transform: rotate(-90deg);
    }

    &._active::after {
      transform: rotate(45deg);
    }

    &._active::before {
      transform: rotate(-45deg);
    }
  }

  &__answer {
    padding-bottom: 30px;
  }
}
