.faq {
  margin-bottom: clamp(70px, 7.5vw, 93px);

  &__wrapp {
    display: flex;
    flex-direction: column;
    grid-gap: clamp(20px, 3.906vw, 40px);
  }

  &__questions {
    width: 100%;
  }

  &__questions-item {
    border-top: 1px solid var(--color-blue);

    &:last-child {
      border-bottom: 1px solid var(--color-blue);
    }
  }

  &__question {
    position: relative;
    width: 100%;
    padding: clamp(10px, 2.93vw, 30px) 0;
    padding-right: clamp(40px, 7.324vw, 75px);
    font-size: clamp(16px, 2.344vw, 24px);
    line-height: clamp(21px, 3.027vw, 31px);
    font-weight: 700;
    text-align: left;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.4s ease;

    &::before,
    &::after {
      content: "";
      width: 18px;
      height: 2px;
      background-color: var(--color-black);
      position: absolute;
      right: 20px;
      top: 50%;
      transform: translateY(-50%);
      transition: transform 0.3s ease 0s;
    }

    &::after {
      transform: rotate(-90deg);
    }

    &._active::after {
      transform: rotate(45deg);
    }

    &._active::before {
      transform: rotate(-45deg);
    }
  }

  &__answer {
    padding-bottom: 30px;
  }
}
