.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 23px 0;
  background-color: transparent;
  z-index: 5;

  @media (max-width: 576px) {
    position: relative;
    padding: 28px 0;
  }

  &__wrapp {
    display: flex;
    flex-direction: column;
    grid-gap: clamp(10px, 2.923vw, 29px);
  }

  &__top {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    @media (max-width: 992px) {
      flex-direction: column;
      align-items: center;
      grid-gap: 30px;
    }
  }

  &__copyright {
    @media (max-width: 992px) {
      order: 1;
    }
  }

  &__nav {
    display: flex;
    align-items: center;
    grid-gap: clamp(12px, 5vw, 72px);

    a {
      font-size: clamp(18px, 1.389vw, 20px);
      font-weight: 600;
      transition: all 0.4s ease;

      &:hover,
      &:active {
        color: var(--color-green);
      }
    }

    @media (max-width: 576px) {
      flex-direction: column;
      grid-gap: 10px;
    }
  }

  &__bot {
    display: flex;
    align-items: center;
    justify-content: space-between;
    grid-gap: 30px;

    @media (max-width: 576px) {
      flex-direction: column;
      align-items: center;
    }

    span {
      font-size: 16px;
      font-weight: 500;
    }
  }
}








