.footer {
  background-color: var(--color-blue);

  &__wrapp {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: clamp(15px, 4.167vw, 80px);

    @media (max-width: 1440px) {
      grid-gap: clamp(15px, 3.125vw, 60px);
    }

    @media (max-width: 1240px) {
      grid-gap: clamp(15px, 2.823vw, 35px);
    }

    @media (max-width: 992px) {
      grid-template-columns: 100%;
    }
  }

  &__info {
    padding: clamp(30px, 4.167vw, 80px) 0;
  }

  &__logo {
    display: flex;
    margin-bottom: clamp(40px, 3.472vw, 50px);
    color: var(--color-white);
  }

  &__navigations {
    margin-bottom: clamp(40px, 5.347vw, 77px);
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    grid-gap: 15px;

    @media (max-width: 576px) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 40px 10px;
    }
  }

  &__navigation-head {
    margin-bottom: clamp(15px, 1.389vw, 20px);
    font-size: clamp(14px, 1.389vw, 20px);
    line-height: 100%;
    font-weight: 700;
    color: var(--color-white);
  }

  &__navigation-list {
    display: flex;
    flex-direction: column;
    grid-gap: 10px;
    font-size: clamp(12px, 0.915vw, 15px);
    line-height: 100%;
    color: var(--color-white);
  }

  &__mid {
    margin-bottom: clamp(40px, 5.208vw, 100px);
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__contacts {
    display: flex;
    flex-direction: column;
    grid-gap: 20px;
  }

  &__contacts-info {
    display: flex;
    align-items: center;
    grid-gap: 10px;
  }

  &__contacts-icon {
    display: flex;
  }

  &__contacts-details {
    display: flex;
    flex-direction: column;
    grid-gap: 2px;
    color: var(--color-white);

    a {
      font-size: 27px;
      line-height: 27px;
      font-weight: 700;
    }

    span {
      font-style: italic;
      letter-spacing: 0.32px;
    }
  }

  &__contacts-support {
    height: 50px;
    background-color: var(--color-green);
    font-size: 18px;
    line-height: 100%;
  }

  &__socials {
    max-width: 106px;
    width: 100%;
    display: flex;
    flex-direction: column;
    grid-gap: clamp(15px, 1.667vw, 24px);

    span {
      font-size: clamp(14px, 1.389vw, 20px);
      line-height: 100%;
      font-weight: 700;
      color: var(--color-white);
    }

    a {
      display: flex;
    }
  }

  &__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media (max-width: 576px) {
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      grid-gap: 20px;
    }
  }

  &__terms {
    display: flex;
    align-items: center;

    a {
      &:first-child {
        padding-right: 5px;
        border-right: 1px solid var(--color-white);
      }

      &:last-child {
        padding-left: 5px;
      }
    }
  }

  &__bottom-text {
    font-size: clamp(8px, 1.563vw, 12px);
    line-height: 100%;
    color: var(--color-white);
  }

  &__solution {
    position: relative;
    margin-right: -10vw;

    @media (max-width: 992px) {
      order: -1;
      width: calc(100vw + 31px);
      margin-right: 0;
      margin-left: -31px;
      padding: clamp(30px, 8.065vw, 80px);
    }
  }

  &__solution-info {
    height: 100%;
    width: calc(100% - 10vw);
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    grid-gap: clamp(30px, 4.167vw, 60px);
    padding-right: 4vw;

    @media (max-width: 992px) {
      padding: 0;
      width: 100%;
    }
  }

  &__solution-image {
    position: absolute;
    inset: 0;
    display: flex;

    &::before {
      content: '';
      position: absolute;
      inset: 0;
      background-color: rgba(18, 123, 241, 0.8);
    }

    picture,
    img {
      width: 100%;
    }
  }

  &__solution-text {
    position: relative;
    padding: 0 10px;
    max-width: 715px;
    text-align: center;
    color: var(--color-white);

    @media (max-width: 992px) {
      padding: 0;
      max-width: 100%;
    }
  }

  &__solution-btn {
    max-width: 350px;
    width: 100%;
    background-color: var(--color-green);
  }
}
