header {
  padding: 30px 0;
  // background-color: red;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__inner {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    grid-gap: 95px;
  }

  &__nav {
    display: flex;
    align-items: center;
    grid-gap: 50px;

    a {
      font-size: 18px;
      line-height: 18px;
      font-weight: 600;
    }
  }

  &__panel {
    display: flex;
    align-items: center;
    grid-gap: 15px;
  }
}
