.hero {
  padding-top: 110px;

  &__wrapp {
    display: flex;
    justify-content: space-between;
    grid-gap: 20px;
  }

  &__info {
    padding-top: 100px;
    max-width: 900px;
  }

  &__title {
    margin-bottom: 40px;
  }

  &__descr {
    margin-bottom: 60px;
    font-size: 22px;
    line-height: 26px;
    font-weight: 700;
  }

  &__btn {
    max-width: 380px;
  }


  &__image {
    display: flex;
  }
}
