.therapy {
  margin-bottom: clamp(70px, 6.098vw, 100px);

  &__wrapp {
    display: flex;
    flex-direction: column;
    grid-gap: clamp(20px, 3.906vw, 40px);
  }

  &__details {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    border: 1px solid #D6D6D6;
  }

  &__detail {
    border-right: 1px solid #D6D6D6;

    span {
      display: block;
      padding: 20px 30px 9px;
      font-size: 22px;
      line-height: 28px;
      font-weight: 700;
    }

    li {
      min-height: 52px;
      padding: 0 30px;
      display: flex;
      align-items: center;
      border-top: 1px solid #D6D6D6;
      font-size: 18px;
      line-height: 28px;
    }

    &:last-child {
      border-right: none;
    }
  }
}


