<footer class="footer">
  <div class="container container--fluid">
    <div class="footer__wrapp">
      <div class="footer__top">
        <span class="footer__copyright copyright">
          <svg width='254' height='30'>
          <use href='img/sprite/sprite.svg#visible-magic'></use>
          </svg>
        </span>

        <ul class="footer__nav">
          <li>
            <a href="#">Terms & Conditions</a>
          </li>
          <li>
            <a href="#">Privacy Policy</a>
          </li>
        </ul>

        <a class="email" href="mailto:contacts@sizerar.com">contacts@sizerar.com</a>
      </div>
      <div class="footer__bot">
        <span class="category">Design & Development</span>
        <span class="current-year">2023</span>
      </div>
    </div>
  </div>
</footer>

