<footer class="footer">
  <div class="container">
    <div class="footer__wrapp">
      <div class="footer__info">
        <a class="footer__logo" href="/">
          <svg width='203' height='30'>
            <use href='img/sprite/sprite.svg#logo'></use>
          </svg>
        </a>

        <div class="footer__navigations">
          <div class="footer__navigation">
            <div class="footer__navigation-head">About us</div>

            <ul class="footer__navigation-list">
              <li>
                <a href="#">About us</a>
              </li>
              <li>
                <a href="#">Certificates</a>
              </li>
              <li>
                <a href="#">Shipping and Refund Policy</a>
              </li>
              <li>
                <a href="#">Blog</a>
              </li>
              <li>
                <a href="#">Contact Us</a>
              </li>
              <li>
                <a href="#">Terms and Conditional</a>
              </li>
            </ul>
          </div>

          <div class="footer__navigation">
            <div class="footer__navigation-head">Skin Diagnosis</div>

            <ul class="footer__navigation-list">
              <li>
                <a href="#">Psoriasis</a>
              </li>
              <li>
                <a href="#">Vitiligo</a>
              </li>
              <li>
                <a href="#">Eczema</a>
              </li>
              <li>
                <a href="#">Acne</a>
              </li>
              <li>
                <a href="#">Dermatitis</a>
              </li>
            </ul>
          </div>

          <div class="footer__navigation">
            <div class="footer__navigation-head">UVB Phototherapy</div>

            <ul class="footer__navigation-list">
              <li>
                <a href="#">UV Phototherapy Products</a>
              </li>
              <li>
                <a href="#">Frequently Asked Questions</a>
              </li>
              <li>
                <a href="#">Testimonials</a>
              </li>
            </ul>
          </div>
        </div>

        <div class="footer__mid">
          <div class="footer__contacts">
            <div class="footer__contacts-info">
              <div class="footer__contacts-icon">
                <picture>
                  <source type='image/webp' srcset='img/phone-contact.webp'>
                  <img width='52' height='52' src='img/phone-contact.png' alt=''>
                </picture>
              </div>

              <div class="footer__contacts-details">
                <a href="tel:1-800-322-8546">1-800-322-8546</a>
                <span>Monday-Friday 9:00-18:00</span>
              </div>
            </div>

            <button class="footer__contacts-support btn">Get support</button>
          </div>


          <div class="footer__socials">
            <span>Follow Us</span>

            <ul class="socials">
              <li>
                <a href="#">
                  <picture>
                    <source type='image/webp' srcset='img/socials/facebook.webp'>
                    <img width='27' height='32' src='img/socials/facebook.png' alt='facebook'>
                  </picture>
                </a>
              </li>
              <li>
                <a href="#">
                  <picture>
                    <source type='image/webp' srcset='img/socials/twitter.webp'>
                    <img width='27' height='32' src='img/socials/twitter.png' alt='twitter'>
                  </picture>
                </a>
              </li>
              <li>
                <a href="#">
                  <picture>
                    <source type='image/webp' srcset='img/socials/instagram.webp'>
                    <img width='27' height='32' src='img/socials/instagram.png' alt='instagram'>
                  </picture>
                </a>
              </li>
              <li>
                <a href="#">
                  <picture>
                    <source type='image/webp' srcset='img/socials/pinterest.webp'>
                    <img width='27' height='32' src='img/socials/pinterest.png' alt='pinterest'>
                  </picture>
                </a>
              </li>
              <li>
                <a href="#">
                  <picture>
                    <source type='image/webp' srcset='img/socials/linkedin.webp'>
                    <img width='27' height='32' src='img/socials/linkedin.png' alt='linkedin'>
                  </picture>
                </a>
              </li>
              <li>
                <a href="#">
                  <picture>
                    <source type='image/webp' srcset='img/socials/youtube.webp'>
                    <img width='27' height='32' src='img/socials/youtube.png' alt='youtube'>
                  </picture>
                </a>
              </li>
            </ul>

          </div>
        </div>

        <div class="footer__bottom">
          <div class="footer__bottom-text">© 2023. All rights reserved</div>

          <div class="footer__terms">
            <a class="footer__bottom-text" href="#">Privacy Policy</a>
            <a class="footer__bottom-text" href="#">Shipping and Refund Policy</a>
          </div>
        </div>
      </div>

      <div class="footer__solution">
        <div class="footer__solution-image">
          <picture>
            <source type='image/webp' srcset='img/footer-solution.webp'>
            <img width='960' height='787' src='img/footer-solution.png' alt='Find your solution'>
          </picture>
        </div>

        <div class="footer__solution-info">
          <span class="footer__solution-text subtitle">More than 100000 people got rid of skin diseases with UVB Therapy</span>
          <a class="footer__solution-btn btn" href="#">Find your solution</a>
        </div>
      </div>
    </div>
  </div>
</footer>

