<header>
  <div class="container">
    <div class="header">
      <a class="header__logo logo" href="/">
        <picture>
          <source type='image/webp' srcset='img/header-logo.webp'>
          <img width='78' height='100' src='img/header-logo.png' alt='logo'>
        </picture>
      </a>

      <div class="header__inner">
        <ul class="header__nav">
          <li>
            <a href="#">Products</a>
          </li>
          <li>
            <a href="#">About us</a>
          </li>
          <li>
            <a href="#">FAQ</a>
          </li>
          <li>
            <a href="#">Blog</a>
          </li>
          <li>
            <a href="#">Testimonials</a>
          </li>
        </ul>

        <div class="header__panel">
          <a class="account" href="#">
            <svg width='24' height='24'>
              <use href='img/sprite/sprite.svg#account'></use>
            </svg>
          </a>

          <div class="basket">
            <div class="basket__icon">
              <svg width='24' height='24'>
                <use href='img/sprite/sprite.svg#basket'></use>
              </svg>
            </div>

            <span class="basket__total">$<span>0.00</span></span>
          </div>
        </div>

        <button class="contacts btn">Contacts</button>
      </div>
    </div>
  </div>
</header>
