<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>SizeAr</title>
  <meta name="Description" content="default">
  <!-- <link href="img/fav.png" rel="icon"/> -->
  <link rel="preload" href="fonts/Poppins-Regular.woff2" as="font" crossorigin="anonymous">
  <link rel="preload" href="fonts/Poppins-Medium.woff2" as="font" crossorigin="anonymous">
  <link rel="preload" href="fonts/Poppins-SemiBold.woff2" as="font" crossorigin="anonymous">
  <link rel="preload" href="fonts/Poppins-Bold.woff2" as="font" crossorigin="anonymous">
  <link rel="preload" href="fonts/DMSans-Medium.woff2" as="font" crossorigin="anonymous">
  <link rel="preload" href="fonts/DMSans-Bold.woff2" as="font" crossorigin="anonymous">
  <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css" /> -->
  <link rel="stylesheet" href="css/style.css">
</head>
