.basket {
  display: flex;
  align-items: center;
  grid-gap: clamp(15px, 1.875vw, 27px);

  &__icon {
    position: relative;
    display: flex;
  }

  &__count {
    position: absolute;
    right: -9px;
    top: -9px;
    right: -40%;
    top: -30%;
    width: clamp(13px, 2.734vw, 21px);
    height: clamp(13px, 2.734vw, 21px);

    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-green);
    border-radius: 50%;
    font-size: clamp(7px, 1.3vw, 10px);
    line-height: clamp(7px, 1.3vw, 10px);
    font-weight: 600;
    color: var(--color-white);
  }

  &__total {
    font-size: clamp(14px, 2.083vw, 16px);
    line-height: clamp(14px, 2.083vw, 16px);
    font-weight: 500;
    color: var(--color-blue);
  }
}
