.breadcrumbs {
  display: flex;
  align-items: center;
  grid-gap: 18px;
  justify-content: flex-start;
  user-select: none;

  @media (max-width: 992px) {
    overflow-x: scroll;
  }

  @media (max-width: 769px) {
    display: inline-block;
  }

  &__prev {
    position: relative;
    display: flex;
    align-items: center;
    grid-gap: 4px;
    font-size: 18px;
    line-height: 36px;
    font-weight: 500;
    color: #8F8F8F;
    white-space: nowrap;

    &::before {
      content: "/";
      position: absolute;
      width: 2px;
      height: 100%;
      right: -8px;
    }
  }

  &__current {
    font-weight: 700;
    white-space: nowrap;
  }
}
