.breadcrumbs {
  display: flex;
  align-items: center;
  grid-gap: 18px;
  justify-content: flex-start;
  user-select: none;
  overflow-x: auto;

  &__prev {
    position: relative;
    display: flex;
    align-items: center;
    font-size: clamp(12px, 1.098vw, 18px);
    line-height: clamp(12px, 2.195vw, 36px);
    font-weight: 500;
    color: #8F8F8F;
    white-space: nowrap;

    &::before {
      content: "/";
      position: absolute;
      width: 2px;
      right: -8px;
    }

    svg {
      width: clamp(16px, 1.341vw, 22px);
      height: clamp(16px, 1.341vw, 22px);
    }
  }

  &__current {
    font-size: clamp(12px, 1.098vw, 18px);
    line-height: clamp(12px, 2.195vw, 36px);
    font-weight: 600;
    white-space: nowrap;
  }
}
