.card {
  height: 100%;
  padding: clamp(18px, 1.585vw, 26px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: clamp(13px, 1.159vw, 19px);
  background-color: #FAFAFA;
  box-shadow: 0px 25px 18px 2px rgba(0, 0, 0, 0.10);

  &__inner {
    position: relative;
    flex-grow: 1;
    transition: all 0.4s ease;

    &:hover {
      .card__details {
        opacity: 1;
        visibility: visible;
      }
    }
  }

  &__content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
  }

  &__details {
    position: absolute;
    display: flex;
    flex-direction: column;
    grid-gap: 10px;
    inset: 0;
    z-index: 2;
    background-color: #FAFAFA;
    transition: all 0.4s ease;
    opacity: 0;
    visibility: hidden;
  }

  &__details-head {
    font-size: clamp(12px, 0.976vw, 16px);
    line-height: clamp(16px, 1.524vw, 25px);
    font-weight: 700;
    flex-shrink: 0;
  }

  &__specifications {
    display: flex;
    flex-direction: column;
    grid-gap: 5px;
  }

  &__specifications-details {
    padding: 10px 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: clamp(3px, 0.488vw, 8px);
    border-top: 1px solid #B7B7B7;
    border-bottom: 1px solid #B7B7B7;

    li {
      display: flex;
      flex-direction: column;
      align-items: center;
      grid-gap: 5px;
      text-align: center;
      font-size: clamp(6px, 0.488vw, 8px);
      line-height: clamp(7px, 0.549vw, 9px);
      font-weight: 500;

      span {
        display: flex;
        align-items: center;
        justify-content: center;
        width: clamp(40px, 3.049vw, 50px);
        height: clamp(40px, 3.049vw, 50px);
        border-radius: 50%;
        background-color: #E8F5FF;

        svg {
          @media (max-width: 1440px) {
            width: 60%;
            height: 60%;
          }
        }
      }
    }
  }

  &__help {
    display: flex;
    align-items: center;
    grid-gap: 8px;

    @media (max-width: 1240px) {
      align-items: flex-start;
    }
  }

  &__help-tags {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    grid-gap: 5px;

    li {
      padding: clamp(4px, 0.366vw, 6px) 5px;
      font-size: clamp(8px, 0.61vw, 10px);
      line-height: clamp(8px, 0.61vw, 10px);
      color: var(--color-blue);
      border: 1px solid var(--color-blue);
      border-radius: clamp(4px, 0.488vw, 8px);
    }
  }

  &__title {
    margin-bottom: clamp(8px, 0.732vw, 12px);
    font-size: clamp(19px, 1.463vw, 24px);
    line-height: clamp(25px, 1.89vw, 31px);
    font-weight: 600;
  }

  &__pricing {
    margin-bottom: clamp(5px, 0.488vw, 8px);
    display: flex;
    grid-gap: 6px;
  }

  &__pricing-before {
    font-size: clamp(10px, 0.671vw, 11px);
    line-height: clamp(12px, 0.793vw, 13px);
    font-weight: 500;
  }

  &__pricing-current {
    font-size: 15px;
    line-height: 18px;
    font-weight: 700;
  }

  &__rating {
    margin-bottom: 6px;
    display: flex;
    align-items: center;
    grid-gap: 2px;
  }

  &__reviews {
    font-size: clamp(8px, 1.098vw, 18px);
    line-height: clamp(10px, 1.28vw, 21px);
    font-weight: 500;
  }

  &__image {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;

    picture,
    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }

  &__bottom {
    display: flex;
    flex-direction: column;
    grid-gap: 10px;
  }

  &__buy,
  &__link {
    height: clamp(40px, 2.561vw, 42px);
    font-size: 14px;
    line-height: 14px;
  }

  &__link {
    border: 1px solid var(--color-blue);
    color: var(--color-blue);
    background-color: transparent;
  }

  &__descr {
    font-size: clamp(10px, 0.854vw, 14px);
    line-height: clamp(13px, 1.098vw, 18px);
  }

  &__summary {
    margin-bottom: 40px;
    display: flex;
    align-items: center;
    grid-gap: 10px;
  }
}
