.diagnostic {
  width: 100%;
  height: 100%;
  position: relative;
  padding: 60px 40px 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__image {
    position: absolute;
    inset: 0;
    display: flex;
    z-index: -1;


    &::before {
      content: '';
      position: absolute;
      inset: 0;
      border-radius: 30px;
      background: linear-gradient(0deg, rgba(0, 0, 0, 0.30) 0%, rgba(0, 0, 0, 0.30) 100%);
    }

    picture,
    img {
      width: 100%;
      border-radius: 30px;
    }

  }

  &__head {
    display: flex;
    flex-direction: column;
    grid-gap: 20px;
    color: var(--color-white);
  }

  &__title {
    font-size: 36px;
    line-height: 47px;
    font-weight: 600;
  }

  &__descr {
    font-size: 18px;
    line-height: 22px;
    font-weight: 500;
  }


  &__btn {
    background-color: transparent;
    border: 1px solid var(--color-white);
  }
}
