.feedback {
  // max-width: 450px;

  &__title {
    margin-bottom: clamp(15px, 1.528vw, 22px);
    font-size: 22px;
    font-weight: 700;
    color: var(--color-white);
  }

  &__text {
    margin-bottom: clamp(20px, 2.778vw, 40px);
    color: var(--color-white);
  }

  &__ratings {
    margin-bottom: 13px;
    display: flex;
    align-items: center;
    grid-gap: clamp(8px, 0.764vw, 11px);

    svg {
      width: clamp(20px, 2.083vw, 30px);
      height: clamp(20px, 2.083vw, 30px);
    }

    @media (max-width: 768px) {
      margin-bottom: 20px;
    }
  }

  &__bot {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    span {
      color: var(--color-white);
      opacity: 0.7;
    }
  }
}
