.filters {
  &__item {
    border-top: 1px solid #D6D6D6;
    padding: 15px 0;
    display: flex;
    flex-direction: column;
    grid-gap: 15px;

    &:last-child {
      padding-bottom: 0;
    }
  }

  &__head {
    font-size: 18px;
    line-height: 25px;
    font-weight: 700;
  }

  &__list {
    display: flex;
    flex-direction: column;
    grid-gap: 15px;
  }

  label {
    position: relative;
    display: flex;
    align-items: center;
  }

  &__input {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all 0.3s ease;

    &:checked ~ span::after{
      opacity: 1;
    }

    &:checked ~ span::before{
      background-color: var(--color-blue-light);
    }
  }

  &__checkbox {
    position: relative;
    padding-left: 30px;
    font-size: 15px;
    line-height: 25px;
    transition: all 0.3s ease;
    cursor: pointer;

    &::before {
      content: "";
      position: absolute;
      display: block;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      width: 22px;
      height: 22px;
      border: 1px solid #43607C;
      transition: .4s;
      z-index: 1;
    }

    &::after {
      content: "";
      position: absolute;
      display: block;
      background-image: var(--checkbox-icon);
      background-size: cover;
      background-repeat: no-repeat;
      left: 1px;
      top: 50%;
      transform: translateY(-50%);
      width: 18px;
      height: 18px;
      opacity: 0;
      z-index: 5;
      transition: all 0.3s ease;
    }

    &:hover {
      transition: all 0.3s ease;

      &::before {
        background-color: var(--color-blue-light);
      }
    }
  }

  &__range {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    grid-gap: 30px;
  }
}




