.form {
  max-width: 582px;
  width: 100%;
  display: flex;
  flex-direction: column;
  grid-gap: clamp(20px, 4.883vw, 50px);

  &__labels {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 33px clamp(33px, 6.152vw, 63px);

    @media (max-width: 576px) {
      grid-template-columns: 100%;
    }
  }

  &__label {
    &:last-child {
      grid-column: span 2;

      @media (max-width: 576px) {
        grid-column: 1;
      }
    }
  }

  &__input,
  &__textarea {
    padding-bottom: 10px;
    border-bottom: 1px solid var(--color-purple);
    background-color: transparent;
    font-family: var(--font-family-dmsans);
    font-size: 16px;
    line-height: 130%;
    font-weight: 500;
    color: var(--color-purple-dark);

    &::placeholder {
      font-family: var(--font-family-dmsans);
      font-size: 16px;
      line-height: 130%;
      font-weight: 500;
      color: rgba(41, 17, 155, 0.50);
    }
  }

  &__textarea {
    height: 31px;
    resize: none;
    overflow-y: hidden;
  }

  &__bot {
    display: flex;
    align-items: center;
    justify-content: space-between;
    grid-gap: 5px;

    span {
      font-family: var(--font-family-dmsans);
      font-size: 16px;
      line-height: 130%;
      font-weight: 500;
      color: var(--color-purple);
    }

    @media (max-width: 576px) {
      flex-direction: column;
    }
  }

  &__btn {
    padding: 0 81px;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-green);
    border-radius: 100px;
    font-family: var(--font-family-dmsans);
    font-size: 16px;
    line-height: 130%;
    font-weight: 700;
    color: var(--color-white);
    transition: all 0.4s ease;

    &:hover,
    &:active {
      background: rgba(39, 211, 127, 0.70);
    }

  }
}
