@import "blocks/header.scss";
@import "blocks/footer.scss";
@import "blocks/mobile.scss";

// Main page
@import "blocks/hero.scss";

@import "blocks/diagnosis.scss";
@import "blocks/choose.scss";
@import "blocks/better.scss";
@import "blocks/results.scss";
@import "blocks/instagram.scss";
@import "blocks/faq.scss";







