@import "blocks/header.scss";
@import "blocks/footer.scss";
@import "blocks/mobile.scss";

// Main page
// @import "blocks/hero.scss";


@import "blocks/instagram.scss";
@import "blocks/faq.scss";







