@import "components/btn.scss";
@import "components/burger.scss";
@import "components/contacts.scss";
@import "components/basket.scss";
@import "components/socials.scss";
@import "components/sorting.scss";
@import "components/filters.scss";
@import "components/range.scss";

// Cards
@import "components/diagnostic.scss";
@import "components/card.scss";

// Breadcrumbs
@import "components/breadcrumbs.scss";

// Feedbacks
@import "components/feedback.scss";



