h1,
.title {
  font-size: clamp(25px, 3.659vw, 60px);
  line-height: clamp(32px, 4.756vw, 78px);
  font-weight: 800;
}

h2,
.subtitle {
  font-weight: 800;
  font-size: clamp(20px, 2.083vw, 40px);
  line-height: clamp(26px, 2.708vw, 52px);
}


