:root {
  /* -- Fonts --*/
  --font-family-inter: "Inter", sans-serif; // var(--font-family-inter);

  /* -- Colors --*/
  --color-white: #fff; // var(--color-white);
  --color-black: #000; // var(--color-black);

  --color-gray: #333333; // var(--color-gray);
  --color-blue: #127BF1; // var(--color-blue);
  --color-blue-light: #E8F5FF; // var(--color-blue-light);
  --color-green: #03B961; // var(--color-green);
  --color-grey: #707070; // var(--color-grey);



}









