:root {
  /* -- Fonts --*/
  --font-family-poppins: "Poppins", sans-serif; // var(--font-family-poppins);
  --font-family-dmsans: "DMSans", sans-serif; // var(--font-family-dmsans);

  /* -- Colors --*/
  --color-white: #ffffff; // var(--color-white);
  --color-black: #191A1F; // var(--color-black);

  --color-bg: #ECEAF8; // var(--color-bg);
  --color-main: #29119B; // var(--color-main);
  --color-purple: #6A57E7; // var(--color-purple);
  --color-purple-dark: #39337D;// var(--color-purple-dark);
  --color-purple-light: #5D49DE; // var(--color-purple-light);
  --color-yellow: #FFD600; // var(--color-yellow);
  --color-green: #27D37F; // var(--color-green);

  --color-scroll: #5946D6; // var(--color-scroll);

}









